

<form method="post" action="/<%=user.name%>/download">

    
    <div class="form-group" style= "position: absolute; right:40%">
        <h1> Report Card : <%= user.name %></h1>
        <label> Hindi : <%= user.hindi %>  </label><br>
        <label> English : <%= user.english %>  </label><br>
        <label> Math : <%= user.math %>  </label><br>
        <label> Science : <%= user.science %>  </label><br>
        <label> Computer : <%= user.computer %>  </label><br>

    </div><br>


    <br>
    <button class="btn btn-outline-dark" >Download Report</button>
    

  </form>